.container_new{
max-width: 1366px;
margin: 0 auto;
}
.navbar {
    background-color: #b3b3b3!important;

}
.container_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}
.btn-outline-success{
    color: white;
    background-color: #28a745;
}